# Adjusting GitHub Language Statistics
# By marking some of the larger HTML files as "vendored", GitHub will ignore them
# in the language stats, allowing Python to take up ~50% of the repository's stats.

templates/user_profile.html linguist-detectable=false
templates/user_dashboard.html linguist-detectable=false
templates/index.html linguist-detectable=false
templates/user_history.html linguist-detectable=false
templates/report_lost.html linguist-detectable=false
templates/superadmin_profile.html linguist-detectable=false
templates/report_found.html linguist-detectable=false
templates/admin_settings.html linguist-detectable=false
templates/admin_dashboard.html linguist-detectable=false
templates/admin_profile.html linguist-detectable=false
templates/admin_users.html linguist-detectable=false
templates/superadmin_requests.html linguist-detectable=false
templates/user_chats.html linguist-detectable=false
templates/chat_room.html linguist-detectable=false
templates/superadmin_dashboard.html linguist-detectable=false
